.nav-tabs .nav-link.active {
    background-color: transparent;
    border: unset;
    border-bottom: 2px solid #2680eb;
    color: #2680eb;
}


.box-shadow-none{
	box-shadow: none;
	border: none;
}
     

/* 
	Forms 
*/
input:focus[type="text"],
input:focus[type="email"],
input:focus[type="password"],
input:focus[type="phone"],
input:focus[type="date"], textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus[type="text"] ~ .form-label, input:focus[type="email"] ~ .form-label, input:focus[type="password"] ~ .form-label, input:focus[type="phone"] ~ .form-label, input:focus[type="date"] ~ .form-label, textarea:focus ~ .form-label {
  display: block;
  color: #2680eb;
  top: -20px;
  font-size: 0.68rem;
}

input:focus[type="text"] ~ .form-input__icon, input:focus[type="email"] ~ .form-input__icon, input:focus[type="password"] ~ .form-input__icon, input:focus[type="phone"] ~ .form-input__icon, input:focus[type="date"] ~ .form-input__icon, textarea:focus ~ .form-input__icon {
  display: block;
  fill: #2680eb;
  color: #2680eb;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

input:focus[type="text"] ~ .form-line--anime, input:focus[type="email"] ~ .form-line--anime, input:focus[type="password"] ~ .form-line--anime, input:focus[type="phone"] ~ .form-line--anime, input:focus[type="date"] ~ .form-line--anime, textarea:focus ~ .form-line--anime {
  background-color: #2680eb;
  position: absolute;
  content: " ";
  height: 2px;
  right: 40%;
  top: 39px;
  -webkit-transform: scaleX(5);
  transform: scaleX(5);
}

.custom-select:focus{
	/* border: none */
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 300;
  color: #949494;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
  font-size: 0.95rem;
}

.form-line--anime {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 20%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* .form-control {
  outline: none;
  padding: 0;
  border: 0;
  border-bottom: 1px solid #cecece;
  height: 40px;
  border-radius: 0;
  background-color: transparent;
}
 */
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

select.form-control {
  color: #777;
}

textarea {
  resize: none;
}

textarea:focus ~ .form-line--anime {
  top: 48px !important;
}


.form-input__icon {
  position: absolute;
  top: 13px;
  right: 0.5rem;
  color: #b5b5b5;
}


/* Select Input Design Material */
select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

select:focus ~ .form-label {
  display: block;
  color: #2680eb;
  top: -20px;
  font-size: 0.68rem;
}

select:focus ~ .form-input__icon {
  display: block;
  fill: #2680eb;
  color: #2680eb;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

select:focus ~ .form-line--anime {
  background-color: #2680eb;
  position: absolute;
  content: " ";
  height: 2px;
  right: 40%;
  top: 39px;
  -webkit-transform: scaleX(5);
  transform: scaleX(5);
}

select.error {
  -webkit-box-shadow: none;
  box-shadow: none;
}

select.error ~ .form-label {
  display: block;
  color: #d25c5c;
  top: -20px;
  font-size: 0.68rem;
}

select.error ~ .form-input__icon {
  display: block;
  fill: #d25c5c;
  color: #d25c5c;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

select.error ~ .form-line--anime {
  background-color: #d25c5c;
  position: absolute;
  content: " ";
  height: 2px;
  right: 40%;
  top: 39px;
  -webkit-transform: scaleX(5);
  transform: scaleX(5);
}


/* Sidebar */
.sidebar-check-in-out {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.sidebar-check-in-out input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.sidebar-check-in-out label {
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 36px;
  background: #d85252;
  display: block;
  border-radius: 100px;
  margin: 0.2rem 0;
}

.sidebar-check-in-out label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar-check-in-out input:checked + label {
  background: #84c783;
}

.sidebar-check-in-out input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.sidebar-check-in-out label:active:after {
  width: 20px;
}

.sidebar-check-in-out .time {
  font-size: 1.5rem;
  font-weight: 500;
  color: #666;
  opacity: 100;
  padding-left: 1.5rem;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  width: 100%;
}

@media (max-width: 767.98px) {
  .sidebar-check-in-out .time {
    width: 100%;
    padding-left: 1.2rem;
  }
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

.tab {
  display: none;
}



    
    
    
.custom-radio-wrapper {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1.04rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
}

/* Hide the browser's default checkbox */
.custom-radio-wrapper input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio-wrapper:hover input ~ .radio {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-radio-wrapper input:checked ~ .radio {
  background-color: #2196F3;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-radio-wrapper input:checked ~ .radio:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-radio-wrapper .radio:after {
  	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/* 
Helper
     */
	
@media (max-width: 991.98px) {
	.flex-column-sm{
		flex-flow: column;
	}
}

.modal-body{
	padding: 1rem 3rem 1rem 3rem;
}


/* start of manage employee style action */



.employee-list__dropdown a#dropdownmenubutton{
  cursor: pointer;
  display: block;
  height: 42px;
  width: 40px;
  border-radius: 50%;
}

.ovel-on-hover{
	cursor: pointer;
	display: inline-block;
	height: 42px;
	width: 40px;
	border-radius: 50%;
}

.employee-list__dropdown a:hover,
.ovel-on-hover:hover{
	background-color: #e5e9ed;
}

.employee-list__dropdown a i,
.ovel-on-hover i{
	line-height: 2.5;
}


.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover{
	background-color: #ececec;
}

/* end of modified action manage employee table */

/* Custom CSS edit employee tab nav active */
.edit-employee__ul li {
  padding: 1rem .4rem 1rem .8rem;
}

.edit-employee__ul li.active{
	background-color: #f7f7f7;
}

.edit-employee__ul li.active a,
.edit-employee__ul li a:hover {
	color: #007bff;
    font-weight: 500;
}


.employee-list__dropdown i{
	color: #2680eb;
}

.dashboard-header-dropdown-menu li{
	padding: 0
}

.dashboard-header-dropdown-menu li a{
	padding: 0.9rem 1.8rem;
	display: block;
	
}

table.dataTable{
	width: 100% !important;
}



@media (max-width: 991.98px) {
	.dataTable{
		overflow-x: auto;
		display: block;
	}
}


table.dataTable tbody th,
table.dataTable tbody td,
table.dataTable thead th,
table.dataTable thead td{
	padding: 1rem 10px !important;
}

.table.dataTable tbody{
	color: #909090;
	font-size: 0.95rem;
}

.dashboard-header-dropdown-menu h6{
	margin-bottom: 0.3rem;
}


/* Table */
.employee-list__table{
	border-spacing: 0 .6rem;
}
.employee-list__table td{
	padding: .4rem 1rem;
}

/* DataTable */
table{
	padding-top: .6rem;
}


.dataTables_length select{
	outline: none;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #cecece;
    height: 40px;
    border-radius: 0;
    background-color: transparent;
    padding-left: .2rem;
}

.dataTable thead{
	background-color: #eeeeee
}

.dataTables_wrapper .dataTables_paginate{
	padding-top: 1rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: none !important;
    background: none !important;
    background-color: #ececec !important;
    border-radius: 30px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #2680eb !important;
    border: none;
    background: none;
    background-color: #ececec !important;
    border-radius: 30px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: #2680eb !important;
}
    
table.dataTable thead th,
table.dataTable tfoot th{
	font-weight: 600;
	color: rgba(38, 128, 235, 0.8);
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	width: auto !important;
}

.tab-content .tab-pane a{
	width: auto;
}

.dataTables_wrapper .dataTables_info{
	font-size: 0.8rem;
    line-height: 3rem;
}


/* Header Profile dropdown Menu */
.dashboard-header-dropdown-menu {
    right: 0 !important;
    left: auto !important;
    top: 25px !important;
    border-color: #dedede;
    padding: 0.4rem 0;
    color: #555;
    transform: none !important;
    min-width: 22rem;
}

.dashboard-header-dropdown-menu{
	min-width: 22rem;
}

@media (max-width: 425px) {
	.dashboard-header-dropdown-menu{
		min-width: 14.5rem;
		right: -5rem !important;
	}
}

a:hover{
	text-decoration: none !important;
}

/* for validating field error  */
label.error {
  color: #d25c5c;
/*   background-color: #f2dede;
  border-color: #ebccd1; */
  font-size: 0.75rem;
  padding: .4rem 0 0 .2rem;
}

/* Custom CSS edit employee tab nav active */
.edit-employee__ul li {
  padding: 1rem .4rem 1rem .8rem;
}

.edit-employee__ul li.active,
.edit-employee__ul li:hover{
	background-color: #eee;
}

.edit-employee__ul li.active a,
.edit-employee__ul li:hover a {
	color: #007bff;
    font-weight: 500;
}

/* HELPER */
.w-28{
	width: 28%;
}

.mt-6{
	margin-top: 6rem;
}

.transform-none{
	transform: scale(1) !important;
}

.overflow-visible{
	overflow: visible;
}

.onhover-background-grey:hover {
  background: #e5e9ed;
}

/* Multiselect container */
.multiselect-container{
	min-width: 15rem;
	z-index: 1050;	
}

/*list-of-holidays*/
.tableHead{
  color: #2680eb;
  background: #eee;
  border-bottom: 3px solid grey;
}

tr:nth-child(even) {
  background-color: #eee;
}


/*Leave Date on employee on leave card*/
#leaveDate{
  float:right;
}



/*Employee attendance copy,CSV Excel,PDF,Print buttons*/
.dt-buttons{
  padding-left:15%;

}

.dataTables_wrapper .dt-buttons button{
	background:white;
	color:#2680eb;
	border-radius:6px;
}


.dataTables_wrapper .dt-buttons button:hover{
	background:#2680eb;
	color:white;
	border-radius:6px;       
}




/*media query for list of holidays table*/
@media only screen and (min-width: 350px) {
  .table {
  display: inline-table;

  }
}

/* My Attendance search bar */
.dataTables_wrapper .dataTables_filter label{
	float:right;
}

button.dt-button, div.dt-button, a.dt-button{
	border: 1px solid #e4e4e4;
}

/* Dashboard Card */
.dashboard-card{
	overflow: visible;
}


@media (min-width: 991.98px) and (max-width: 1730px) { 
	.side-info-header{
		flex-flow: column;
		text-align: center;
	}
}
/* Invalid UserName or Password in SignIn Page*/
#loginError {
  padding: 5px;
  background-color:white ;
  color: #d25c5c;
  border-radius:8px;
  border:2px solid;
}

/* Scrollbar on sidebar */
.dashboard-sidebar__ul-nav-items{
height:600px;
overflow-y:auto;
}

/* Notifications footer SeeAll */
.seeAll{
	text-align: center; 
	color: #2680eb;
}
.seeAll:hover {
    text-decoration: underline;
}

/*  End */

	