<header class="fixed-top">
	<div class="dashboard-header">
		<div class='dashboard-header-logo'>
			<a href="/"> <img src='img/inspire-logo.png'
				class='header-logo--not-collapsed' alt width='130'> <img
				src='img/log.png' class="header-logo--collapsed py-2" alt width='40'>
			</a>
		</div>
		<nav class='d-flex justify-content-between dashboard-navbar-content'>
			<div class='sidebar-toggle px-15px align-self-center'>
				<i class="fas fa-bars"></i>
			</div>
			<form action="#" class="header__form-mobile my-1 px-1">
				<div class="mt-1 form-group">
					<input type="text" class="form-control" id="header-inputsearch"
						required="required"> <label class="form-label"
						for="inputsearch">Search</label> <i
						class="form-input__icon svg-icon fas fa-search"></i> <span
						class="form-line--anime"></span>
				</div>
			</form>
			<div class='text-center align-self-center px-15px display-sm-none'>
				<a href='#'> <img src='img/company-logo.png' width='130'
					alt='company logo'>
				</a>
			</div>
		</nav>
		<div class='dashboard-header-profile px-15px align-self-center'>
			<ul class="navbar-ul">
				<li><a href="#"> <i class="fas fa-comments"></i>
				</a></li>
				<li class="dropdown"><a href="#"
					class="notify-container dropdown open" data-toggle="dropdown"
					aria-expanded="true"> <i class="fas fa-bell"></i> <span
						class="notify-count" id="noOfNotifications"></span>
				</a>
					<div class="dropdown-menu dashboard-header-dropdown-menu ul-list-style--none w-100 my-1 pb-0">
						<div id="notifications">
							<h6 style="margin-left:10px;" class="pt-2 px-4">Notifications</h6>


							<a href="#" class="d-flex onhover-background-grey px-4 py-3 text-small border-bottom">
								<i class="fas fa-bell pr-3 color-orange pt-1"></i>
								<div class="">
									<p class="m-0">
										Leave Request from <span class="font-weight-bold">Aashish</span>
										<span class="text-small-small"> Software Developer</small>
									</p>
								</div>
							</a>
							 <a href="#" class="d-flex px-4 onhover-background-grey py-3 text-small border-bottom"
								style="background-color: #edf2fa;"> <i
								class="fas fa-bell pr-3 color-orange pt-1"></i>
								<div class="">
									<p class="m-0">Leave Request from <span class="font-weight-bold">Aashish</span>
									<span class="text-small-small"> Software Developer</span>
									</p>
								</div>
							</a> 
							<a href="#" class="d-flex px-4 py-3 text-small border-bottom" style="background-color:#edf2fa;"> <i class="fas fa-bell pr-3 color-orange pt-1"></i>
							<div class=""><p class="m-0">Leave Request from <span class="font-weight-bold">Aashish</span> <span class="text-small-small"> Software Developer</span></p></div>
							</a>
							
							<div style="height: 3px; margin-left: 10px;"></div>
							<div class="tab-pane fade in active show" id="notification" style="height:auto; overflow-y:auto;"></div>							
				      </div>
				      <div class="seeAll">
						<a href="#">See All</a>
					 </div>
					</div>
					
				</li>
				<li class="dropdown user user-menu open"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"
					id="UserName"> <span class="hidden-xs">--- -----</span>
				</a>
					<ul
						class="dropdown-menu dashboard-header-dropdown-menu ul-list-style--none text-small">
						<!-- Menu Footer-->
						<li class='onhover-background-grey'>
							<a href="changePassword">
							<i class="fas fa-cog pr-2"></i>Change Password
							</a>
						</li>
						<li class='onhover-background-grey'>
							<a href="/myProfile">
							<i class="fas fa-user pr-2"></i>Profile
							</a>
						</li>
						<li class='onhover-background-grey'>
							<a href="/delegate">
							<i class="fas fa-user pr-2"></i>Profile Setting
							</a>
						</li>
						<div class="dropdown-divider"></div>
						<li class='onhover-background-grey'>
							<a href="#" onclick="main.clearSessionStorage()">
							<i class="fas fa-sign-out-alt pr-2"></i>Sign out	
							</a>
						</li>
					</ul>
					</li>
			</ul>
		</div>
		
	</div>
</header>

<script>
		$(document).ready(function () {
			  main.checkStorage();
		    if ($(window).width() < 550) {
		        $(".sidebar-toggle").click(function () {
		            $("body").toggleClass('sidebar-open');
		           
		        });
		    } else {
		        $(".sidebar-toggle").click(function () {
		            $("body").toggleClass('sidebar-collapse');
		           
		        });
		    }
		
		    
		    // Refresh on Width
		   /*  $(window).on('resize', function () {
		        if ($(window).width() < 550) {
		            location.reload();
		        }
		        // if ($(window).width() > 550) {
		        if (($(window).width() > 550) && ($(window).width() < 808)) { 
		            location.reload();
		        }
		    }); */
 	    
		  //getting user full name in header dropdown
	main.ajax("hrm/attendance/myAttendanceStatus", "", function(response) { 
			$("#UserName").text(response.name);
		    }, "GET", main.getToken());
 
	    
		    
		  //for notification
		  main.ajax("hrm/leavereq/getLeaveRequest", "", function(response) { 
			 var notificationCount = 0
			 
			 var travelNot = travelNotifications();	
			 if(response.length==0){
				 $( "#noOfNotifications" ).text(notificationCount);
				 
				 
				 var notificationLists = $();
				 
				 $( "#notification" ).append( notificationLists );
				 }
			 
			 else{
				 
			 var arr = [];
			 	response.forEach(function(element) {
				 
				 /*  var notificationLists = $('<a href="/Leave#requested_leave" class="onhover-background-grey d-block px-4 py-2 border-bottom"><div class=""><h6 class="">'+element.name+
					 '<span class="float-right font-weight-light display-sm-none text-small-small">'+ "Leave Request"+'</span></h6><p class="font-weight-light text-small m-0">'+
					 element.position +'</p></div></a>');  */
	
var notificationLists = $('<a href="/Leave" class="onhover-background-grey d-flex px-4 py-2 text-small border-bottom"><i class="fas fa-bell pr-3 color-orange pt-1"></i>'+
		'<div class=""><p class="">Leave Request from <span class="font-weight-bold">'+element.name+'</span><span class="text-small-small"> ('+element.position+')</small></p></div>'+
		'</a>');

				 $( "#notification" ).append( notificationLists );
				 
				 notificationCount++
				 
				 });
			 	
			 }
			 $( "#noOfNotifications" ).text(notificationCount);
			 	 	 
			    }, "GET", main.getToken()); 
		 
		 
}); 
		
		
		function leaveNotifications(){
			var arr1 =[]
			main.ajax("hrm/leavereq/getLeaveRequest", "", function(response) { 			
			    }, "GET", main.getToken());
			
			$.ajax({
				type : 'GET',
				headers : {
					// 'Accept':'application/json',
					'Content-Type' : 'application/json'
				},
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", main.getToken());
				},
				url : "hrm/leavereq/getLeaveRequest",
				async : false,
				data :"",
				cache : false,
				success : function(data) {
					arr1.push(data);
					
				},
			});

			return arr1;
		}
		
		
		
		function travelNotifications(){
			var arr1 =[]
			main.ajax("hrm/leavereq/getLeaveRequest", "", function(response) { 			
			    }, "GET", main.getToken());
			
			$.ajax({
				type : 'GET',
				headers : {
					// 'Accept':'application/json',
					'Content-Type' : 'application/json'
				},
				beforeSend : function(request) {
					request.setRequestHeader("Authorization", main.getToken());
				},
				url : "hrm/leavereq/getLeaveRequest",
				async : false,
				data :"",
				cache : false,
				success : function(data) {
					arr1.push(data);
					
				},
			});

			return arr1;
		}
			
		
</script>
