<aside class='main-sidebar'>
	<section class='sidebar-content'>
		<div class='sidebar-check-in-out d-flex'>
			<div class="">
				<input type="checkbox" id="switch" /> <label for="switch">Toggle</label>
			</div>
			<div class="time align-self-center pl-4 w-100">
				<span id="MyClockDisplay" onload="showTime()" class="text-small-small pl-1"></span>
			</div>
		</div>
		<form action='#' class="sidebar-search-box my-2 px-4">
		 	<div class="mt-1 form-group">
				<input type="text" class="form-control" id="inputsearch"
					required="required"> <label class="form-label"
					for="inputsearch">Search</label> <i
					class="form-input__icon svg-icon fas fa-search"></i> <span
					class="form-line--anime"></span>
			</div>
		</form>
		<nav class='mt-5'>
		
			<ul class='dashboard-sidebar__ul-nav-items pl-0'>
				<li>
					<div class="sidebar__nav-item">
						<a href='/' class="class d-flex"> <i class="fas fa-home"></i>
							<span>Dashboard</span>
						</a>
					</div>
				</li>
				<li id="hrmis">
					<div class="sidebar__nav-item clearfix" data-toggle="collapse"
						href="#hrims-submenu">
						<a href='#' class="class d-flex float-left"> <i
							class="fas fa-users"></i> <span>HRMIS</span>
						</a> <i class="float-right dropdown-toggle"></i>
					</div>
					<ul class="ul-list-style--none sidebar__ul-sub-nav collapse pl-0"
						id="hrims-submenu" data-parent="">
						<li>
							<div class="sidebar__ul-sub-nav-item">
								<a href='/add-employee' class="class d-flex"> <i
									class="fas fa-clipboard-list"></i> <span>Add Employee</span>
								</a>
							</div>
						</li>
						<li>
							<div class="sidebar__ul-sub-nav-item">
								<a href='/manage-employoee' class="class d-flex"> <i
									class="fas fa-clipboard-list"></i> <span>Manage Employee</span>
								</a>
							</div>
						</li>
						<li>
                            <div class="sidebar__ul-sub-nav-item ">
                                <a href='/allAttendance' class="class d-flex">
                                    <i class="fas fa-clipboard-list"></i>
                                    <span>Employee Attendance</span>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="sidebar__ul-sub-nav-item ">
                                <a href='/allLeave' class="class d-flex">
                                    <i class="fas fa-clipboard-list"></i>
                                    <span>Employee Leave</span>
                                </a>
                            </div>
                        </li>
						<li>
							<div class="sidebar__ul-sub-nav-item">
								<a href='/manage-leave' class="class d-flex"> <i
									class="fas fa-clipboard-list"></i> <span>Manage leave Type</span>
								</a>
							</div>
						</li>
						<li>
							<div class="sidebar__ul-sub-nav-item">
								<a href='/manage-holidays' class="class d-flex"> <i
									class="fas fa-clipboard-list"></i> <span>Manage Holiday</span>
								</a>
							</div>
						</li>
						<li>
							<div class="sidebar__ul-sub-nav-item">
								<a href='/manage-authorization' class="class d-flex"> <i
									class="fas fa-clipboard-list"></i> <span>Manage Authorization</span>
								</a>
							</div>
						</li>
						<li>
							<div class="sidebar__ul-sub-nav-item">
								<a href='/manage-budgetCode' class="class d-flex"> <i
									class="fas fa-clipboard-list"></i> <span>Manage Budget Code</span>
								</a>
							</div>
						</li>
					</ul>
				</li>
				 <li>
                    <div class="sidebar__nav-item clearfix " data-toggle="collapse" href="#hrims-attendance">
                        <a href='#' class="d-flex float-left">
                            <i class="fas fa-file-alt"></i>
                            <span>Attendance</span>
                        </a>
                        <i class="float-right dropdown-toggle"></i>
                    </div>
                    <ul class="ul-list-style--none sidebar__ul-sub-nav collapse pl-0  " id="hrims-attendance" data-parent="">
                        
                        <li>
                            <div class="sidebar__ul-sub-nav-item ">
                                <a href='/myattendance' class="class d-flex">
                                    <i class="fas fa-tasks"></i>
                                    <span>My Attendance</span>
                                </a>
                            </div>
                        </li>
                                                <li>
                            <div class="sidebar__ul-sub-nav-item ">
                                <a href='/work-on-holidays' class="class d-flex">
                                    <i class="fas fa-tasks"></i>
                                    <span>Work On Holiday</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
				<li>
					<div class="sidebar__nav-item">
						<a href='/Leave' class="class d-flex"> <i
							class="fas fa-clipboard-check"></i> <span>Leave</span>
						</a>
					</div>
				</li>
				<li>
					<div class="sidebar__nav-item">
						<a href='/travel' class="class d-flex"> <i
							class="fas fa-plane-departure"></i> <span>Travel</span>
						</a>
					</div>
				</li>
				<li>
					<div class="sidebar__nav-item">
						<a href='#' class="class d-flex"> <i
							class="fas fa-file-contract"></i> <span>Movement</span>
						</a>
					</div>
				</li>
				<li id="annual">
				<div class="sidebar__nav-item clearfix" data-toggle="collapse"
						href="#annual-submenu">
						<a href='#' class="class d-flex float-left"> <i
							class="fas fa-users"></i> <span>Annual Planner</span>
						</a> <i class="float-right dropdown-toggle"></i>
					</div>
					
						<ul class="ul-list-style--none sidebar__ul-sub-nav collapse pl-0"
						id="annual-submenu" data-parent="">
						<li>
							<div class="sidebar__nav-item">
								<a href='/calender' class="class d-flex"> <i
									class="fas fa-calendar-alt"></i> <span>Calendar</span>
								</a>
							</div>
						</li>
						<li>
							<div class="sidebar__ul-sub-nav-item">
								<a href='/list-of-holidays' class="class d-flex"> <i
									class="fas fa-clipboard-list"></i> <span>List Of Holidays</span>
								</a>
							</div>
						</li>												
					</ul>
					</li>
				<li id="hrMonthlyReport" >
					<div class="sidebar__nav-item">
						<a href='/hrMonthlyReport' class="class d-flex"> <i
							class="fas fa-calendar-alt"></i> <span> HR Monthly Report</span>
						</a>
					</div>
				</li>
				<li  id="lmMonthlyReport">
					<div class="sidebar__nav-item">
						<a href='/monthlyReport' class="class d-flex"> <i
							class="fas fa-calendar-alt"></i> <span> LM Monthly Report</span>
						</a>
					</div>
				</li>
				<li>
					<div class="sidebar__nav-item">
						<a href='#' class="class d-flex"> <i class="fas fa-clock"></i>
							<span>Timesheet</span>
						</a>
					</div>
				</li>
				<li>
					<div class="sidebar__nav-item">
						<a href='#' class="class d-flex"> <i class="fas fa-dollar-sign"></i>
							<span>Payroll</span>
						</a>
					</div>
				</li>
				<li>
					<div class="sidebar__nav-item">
						<a href='#' class="class d-flex"> <i class="fas fa-file-alt"></i>
							<span>Effort Report</span>
						</a>
					</div>
				</li>
				
				
				<li>
					<div class="sidebar__nav-item">
						<a href='#' class="class d-flex"> <i class="fas fa-chart-line"></i>
							<span>Performance Management</span>
						</a>
					</div>
				</li>
				<li>
					<div class="sidebar__nav-item">
						<a href='#' class="class d-flex"> <i
							class="fas fa-layer-group"></i> <span>Department</span>
						</a>
					</div>
				</li>
			</ul>
		</nav>
	</section>
</aside>

<script>

//get attendance and role status
$(document).ready(function () {
	main.ajax("hrm/attendance/myAttendanceStatus", "", function(response) {
		
		if(response.role[0].authority=="ROLE_MANAGER"){
			$("#hrmis").hide();
			$('#hrMonthlyReport').hide();
		}
		else if(response.role[0].authority=="ROLE_USER"){
			$("#hrmis").hide();
			$('#hrMonthlyReport').hide();
			$('#lmMonthlyReport').hide();
		}
		else if(response.role[0].authority=="ROLE_ADMIN"){
			$('#lmMonthlyReport').hide();
		}
		
	}, "GET", main.getToken());
})

function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
    
    if(h == 0){
        h = 12;
    }
    
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("MyClockDisplay").innerText = time;
    document.getElementById("MyClockDisplay").textContent = time;
    $("#MyClockDisplay").attr("font-size","10px");
    
    setTimeout(showTime, 1000);
    
}

showTime();


	$(document).ready(function() {	
		var buttonStatus = false;
		main.ajax("hrm/attendance/myAttendanceStatus", "", function(response) {
			if (response.status[0] == true) {

				$('#switch').click();
			}
		}, "GET", main.getToken());

		//atttendance checkin checkout
		$('#switch').change(function() {
			if (buttonStatus === false) {
				attendanceCheckin();
				buttonStatus = true;
			} else {
				attendanceCheckout();
				buttonStatus = false;
			}
		})

		function attendanceCheckin() {
			var d = new Date();
			main.ajax("/hrm/attendance/checkin", "", function(response) {
			}, "POST", main.getToken());
		}

		function attendanceCheckout() {
			main.ajax("/hrm/attendance/checkout", "", function(response) {
			}, "PUT", main.getToken());
		}
	});


	
</script>

